.calendarFailureUI{
    width: 100%;
    height: 100%;
    /*background-size: cover;*/
    padding: 1%;
    margin: 0px;
    /*background-color: black;*/
}
/*.horizontalMainPage{*/
/*    width: 100%;*/
/*    height: 10%;*/
/*    !*align-content: center;*!*/
/*    align-items: center;*/
/*    background-color: chocolate;*/

/*}*/

/*menu*/

.horizontalMenuLayout{
    width: 100%;
    height: 10%;
    /*padding: 0.25%;*/
    align-items: center;
    border-radius: 10px;
    background-color:#0c6ce9 ;
    /*background-color: cornflowerblue;*/
}

.horizontalMenuLogoLayout{
    width: 20%;
    height: 100%;
    /*background-color: crimson;*/
    background-image: url("https://btvk.pl/img/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.horizontalMenuButtonLayout{
    width: 80%;
    height: 100%;
    align-items: center;
    /*background-color: pink;*/
}

.button {
    width: 20%;
    height: 100%;
    /*border: 2px midnightblue solid;*/
    color: white;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
}

.buttonactive{
    width: 20%;
    height: 100%;
    /*border: 2px midnightblue solid;*/
    color: white;
    text-align: center;
    font-size: 18px;
    background-color: rgb(52, 149, 235);
}

.button:hover{
    text-decoration: underline;
    background-color: rgba(255,255,255,0.2);
}



/*koniec menu*/

/*Wyszukiwarka*/

.horizontalSearchFailureLayout{
    width: 100%;
    height: 7%;
    align-items: center;
    border-radius: 10px;
    margin-top: 1%;
    padding-left: 4%;
    /*background-color: cornflowerblue;*/
    background-color:#0c6ce9;
}
/*ustawienie w placeholderze bialej czcionki przed aktywacja*/
input:placeholder-shown{
    color: white;
}


.searchInGrid{
    color: white;
    /*background-color: rgba(255, 255, 255,0.1);*/
    width: 20%;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

.streetComboBox{
    color: white;
    background-color: #233348;
    width: 20%;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

.typeComboBox{
    color: white;
    background-color: #233348;
    width: 20%;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

/*koniec wyszkiwarki*/

/*grid*/

.horizontalGridFailureLayout{
    width: 100%;
    height: 100%;
    /*background-color: cornflowerblue;*/
    margin-top: 1%;
    /*border-radius: 10px;*/
}

.failureGrid{
    /*margin-top: 20px;*/
    width: 100%;
    height: 100%;
    color: white;
    align-items: center;
    align-content: center;
    alignment: center;
    background-color: transparent;
    /*transform: scale(0.9);*/
    /*white-space: normal;*/
    /*text-overflow: ellipsis;*/
}

.resetButton{
    color: white;
    /*background-color: #233348;*/
    width: 10%;
    /*border-radius: 5px;*/
    background-color: #36485f;
    margin: 0px;
    padding: 0px;
}