.clientAddUI{
    width: 100%;
    height: 100%;
    /*background-size: cover;*/
    padding: 1%;
    margin: 0px;
    /*background-color: black;*/
}
/*.horizontalMainPage{*/
/*    width: 100%;*/
/*    height: 10%;*/
/*    !*align-content: center;*!*/
/*    align-items: center;*/
/*    background-color: chocolate;*/

/*}*/

/*menu*/

.horizontalMenuLayout{
    width: 100%;
    height: 10%;
    /*padding: 0.25%;*/
    align-items: center;
    border-radius: 10px;
    background-color:#0c6ce9 ;
    /*background-color: cornflowerblue;*/
}

.horizontalMenuLogoLayout{
    width: 20%;
    height: 100%;
    /*background-color: crimson;*/
    background-image: url("https://btvk.pl/img/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.horizontalMenuButtonLayout{
    width: 80%;
    height: 100%;
    align-items: center;
    /*background-color: pink;*/
}

.button {
    width: 20%;
    height: 100%;
    /*border: 2px midnightblue solid;*/
    color: white;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
}

.button:hover{
    text-decoration: underline;
    background-color: rgba(255,255,255,0.2);
}

.horizontalClientAddPageLayout{
    width: 100%;
    height: 108%;
    border-radius: 10px;
    /*background-color:#0c6ce9;*/
    /*background-color: white;*/
    background-color: rgba(212,255,255, 0.01);
    border: 1px #45566e solid;
    margin-top: 1%;
}

.verticalAddDataLayout{
    width: 100%;
    height: 100%;
    padding-top: 12.5%;
    /*border-right: 1px #45566e solid;*/
    align-content: center;
    align-items: center;
    /*background-color: yellow;*/
}

.horizontalAddDataLayout
{
    width: 100%;
    height: auto;
    /*background-color: cornsilk;*/
    align-items: center;
    align-content: center;
}

.horizontalAddData1Layout
{
    width: 100%;
    height: auto;
    /*background-color: cornsilk;*/
    align-items: center;
    align-content: center;
}

.horizontalAddData2Layout
{
    width: 100%;
    height: auto;
    /*background-color: cornsilk;*/
    align-items: center;
    align-content: center;
}

.horizontalAddData3Layout
{
    width: 100%;
    height: auto;
    /*background-color: cornsilk;*/
    align-items: center;
    align-content: center;
}

.contractNumberField{
    align-items: center;
    margin: auto;
    /*margin-left: 10%;*/
    background-color: transparent;
}

.nameField{
    align-items: center;
    /*margin-left: 10%;*/
    margin: auto;
    background-color: transparent;
}

.surnameField{
    align-items: center;
    /*margin-left: 10%;*/
    margin: auto;
    background-color: transparent;
}

.streetNameField{
    align-items: center;
    margin: auto;
    /*margin-left: 10%;*/
    background-color: transparent;
}

.buildingNumberField{
    align-items: center;
    /*margin-left: 10%;*/
    margin: auto;
    background-color: transparent;
}

.flatNumberField{
    align-items: center;
    /*margin-left: 10%;*/
    margin: auto;
    background-color: transparent;
}

.numberPhoneField{
    align-items: center;
    /*margin-left: 10%;*/
    margin: auto;
    background-color: transparent;
}

.emailField{
    align-items: center;
    /*margin-left: 10%;*/
    margin: auto;
    background-color: transparent;
}

.saveButton{
    width: 50%;
}

.cancelButton{
    width: 50%;
}