.loginUI {
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.loginPage {
    width: 100%;
    height: 100%;
}

.loginForm {
    width: auto;
    height: auto;
    vertical-align: center;
    margin-top: 12.5%;
    justify-content: center;
    alignment: center;
    align-items: center;
    align-content: center;
}

.loginFormVertical {
    width: auto;
    height: auto;
    vertical-align: center;
    justify-content: center;
    alignment: center;
    align-items: center;
    align-content: center;
}


